:root {
  --IRIS: #4d5ae5;
  --OCEAN: #404bbf;
  --NAVY-BLUE: #2e2f42;
  --GREEN: #31d0aa;
  --SLATE: #434455;
  --LIGHT-SLATE: #8e8f99;
  --CORNFLOWER: #e7e9fc;
  --CLOUD: #f4f4fd;
  --NAVY-BLUE-MODAL: #2e2f4266;
  --GREY: #2e2f42b2;
  --WHITE: #ffffff;
  --DAIRY: #fcfcfc;
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--SLATE);
  background-color: var(--WHITE);
}

button {
  cursor: pointer;
}

/* navigation */
.link {
  text-decoration: none;
}
.logo {
  color: var(--IRIS);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studio {
  color: var(--NAVY-BLUE);
}
.list {
  list-style: none;
}
.navigation-link {
  color: var(--NAVY-BLUE);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.address {
  font-style: normal;
}
.header-contacts {
  color: var(--SLATE);
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.navigation-link:focus,
.navigation-link:hover,
.header-contacts:focus,
.header-contacts:hover {
  color: var(--OCEAN);
}

/* index */

.hero-image {
  background-color: var(--NAVY-BLUE);
}
.main-header {
  color: var(--WHITE, #fff);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.btn-order {
  color: var(--WHITE, #fff);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--IRIS);
}
.btn-order:focus,
.btn-order:hover {
  background: var(--OCEAN);
}

/* index section 1 */

.features-heading {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.features-description {
  color: var(--SLATE);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* index section 2 */

.header-two {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

/* index section 3 */

.our-team {
  background-color: var(--CLOUD);
}
.header-two {
  color: var(--NAVY-BLUE);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02;
  text-transform: capitalize;
}
.our-team-list {
  background-color: var(--WHITE);
}
.team-card-heading {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-card-description {
  color: var(--SLATE);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* portfolio */

.btn-portfolio-menu {
  color: var(--IRIS);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--CORNFLOWER);
  background-color: var(--CLOUD);
}
.btn-portfolio-menu:focus,
.btn-portfolio-menu:hover {
  color: var(--WHITE);
  background-color: var(--OCEAN, #404bbf);
}
.portfolio-pic-heading {
  color: var(--NAVY-BLUE);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.portfolio-pic-description {
  color: var(--SLATE);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* footer */

.footer {
  background-color: var(--NAVY-BLUE);
}
.logo-footer {
  color: var(--IRIS);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studio-footer {
  color: var(--CLOUD);
}
.footer-text {
  color: var(--CLOUD);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
